@font-face {
    font-family: 'AvenirBook';
    src: url('/fonts/Avenir/Avenir-Book.ttf');
}
.primary-button {
    font-family: 'AvenirBook';
}

p {
    font-family: 'AvenirBook';
    color: #C0C0C0;
}

a {
    font-family: 'AvenirBook';
}

